{% extends 'user/base.html' %}

{% block title %}
  Search Profiles - My Site
{% endblock %}

{% block content %}
  <h3>Your Uploaded Files</h3>
  {% if user_files %}
    <ul>
      {% for file in user_files %}
        <li>
          <a href="{% url 'download_file' file.id %}" target="_blank">{{ file.file.name }}</a>
          - {{ file.uploaded_at }}
          - <a href="{% url 'share_file' file.id %}">Share</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No files uploaded yet.</p>
  {% endif %}

  <h3>Files Shared with You</h3>
  {% if shared_with_user_files %}
    <ul>
      {% for file in shared_with_user_files %}
        <li>
          <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
          - Shared by {{ file.user.username }} at {{ file.uploaded_at }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No files shared with you yet.</p>
  {% endif %}
{% endblock %}
