body {
    font-family: 'Arial', sans-serif;
}

/* Additional styles for the h2 element */
.head{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: #333333;
    text-decoration: solid;
    cursor: pointer;
    width: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.files{
    display: block;
    width: 15%;
    margin: auto;
    margin-top: 15px;
}